/* Importing Noto Sans Bengali font directly for web display */
@font-face {
    font-family: 'Noto Sans Bengali';
    src: url('./fonts/NotoSansBengali-Regular.ttf') format('truetype');
    /* Ensure the path to your .ttf file is correct */
    font-weight: normal;
    font-style: normal;
}

/* Apply Noto Sans Bengali globally */
body {
    font-family: 'Noto Sans Bengali', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Specific elements that might override global font, ensure they use Noto Sans Bengali */
h1, h2, h3, h4, h5, h6,
.slogan,
.btn,
.product-item h4,
.order-summary-heading,
.customer-info-heading,
.success-heading,
.message-box-title {
    font-family: 'Noto Sans Bengali', sans-serif;
}


/* General Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 60px 0;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    margin: 10px;
    
